<div *ngIf="task" class="px-8 pb-4">
    <div class="border-b border-gray-200 dark:border-gray-700 mb-10">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            <li class="mr-2 cursor-pointer">
                <a *ngIf="tab == 'statement'" class="inline-flex p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 group">
                    <svg class="mr-2 w-5 h-5 text-blue-600 dark:text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path d="M12 14l9-5-9-5-9 5 9 5z"></path><path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path></svg>{{'Tasks.TaskDetail.ProblemStatement' | translate}}
                </a>
                <a *ngIf="tab != 'statement'" (click)="changeTab('statement')" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path d="M12 14l9-5-9-5-9 5 9 5z"></path><path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path></svg>{{'Tasks.TaskDetail.ProblemStatement' | translate}}
                </a>
            </li>
            <li *ngIf="(accountService.currentUser$ | async)" class="mr-2 cursor-pointer">
                <a *ngIf="tab == 'solutions'" class="inline-flex p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 group" aria-current="page">
                    <svg class="mr-2 w-5 h-5 text-blue-600 dark:text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path></svg>{{'Tasks.TaskDetail.Solutions' | translate}}
                </a>
                <a *ngIf="tab != 'solutions'" (click)="changeTab('solutions')" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group" aria-current="page">
                    <svg class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path></svg>{{'Tasks.TaskDetail.Solutions' | translate}}
                </a>
            </li>
            <li *ngIf="(accountService.currentUser$ | async)" class="mr-2 cursor-pointer">
                <a *ngIf="tab == 'submit'" class="inline-flex p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 group">
                    <svg class="mr-2 w-5 h-5 text-blue-600 dark:text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg>{{'Tasks.TaskDetail.Submit' | translate}}
                </a>
                <a *ngIf="tab != 'submit'" (click)="changeTab('submit')" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg>{{'Tasks.TaskDetail.Submit' | translate}}
                </a>
            </li>
            <li *ngIf="(accountService.currentUser$ | async) === null" class="mr-2 cursor-pointer">
                <a href="sign_in" class="inline-flex p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-5 h-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-gray-300" fill="none" viewBox="0 0 22 22" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" /></svg>{{'Tasks.TaskDetail.SignInToSubmit' | translate}}
                </a>
            </li>
        </ul>
    </div>

    <h1 class="text-5xl text-gray-900 dark:text-white mb-2">{{task.name}} ({{task.nameTag}})</h1>
    <div class="text-l text-gray-900 dark:text-white mb-7">
      <p class="float-left mr-3">{{'Tasks.TaskDetail.TimeLimit' | translate}}: {{task.timeLimit/1000}}s</p>
      <p class="float-left mr-3">•</p>
      <p>{{'Tasks.TaskDetail.MemoryLimit' | translate}}: {{task.memoryLimit}}MB</p>
    </div>

    <div *ngIf="tab == 'statement'">
        <markdown class="prose dark:prose-invert max-w-none text-xl text-gray-900 dark:text-white" [data]="markdown"></markdown>

        <div *ngIf="task.exampleTestGroup" class="content-center flex items-center justify-left mt-6 pb-4">
            <div>
                <h1 class="text-gray-900 dark:text-white text-center">Example tests</h1>
                <div class="full relative overflow-x-auto shadow-md rounded-lg">
                    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-200">
                        <thead class="text-xs text-gray-800 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-300">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    #
                                </th>
                                <th scope="col" class="px-6 py-3">
                                  {{'Tasks.TaskDetail.Input' | translate}}
                                </th>
                                <th scope="col" class="px-6 py-3">
                                  {{'Tasks.TaskDetail.Output' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let test of task.exampleTestGroup.tests" class="bg-gray-100 border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                    {{test.number}}
                                </th>
                                <td class="px-6 py-4">
                                    <span style="white-space: pre-line">{{test.input}}</span>
                                </td>
                                <td class="px-6 py-4">
                                    <span style="white-space: pre-line">{{test.output}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tab == 'solutions'">
        <app-solutions [taskTag]="task.nameTag"></app-solutions>
    </div>
    <div *ngIf="tab == 'submit'">
      <form [formGroup]="submitSolutionForm" #SubmitSolution="ngForm" class="mt-8 space-y-6" (ngSubmit)="submitSolution()">
          <div>
              <h1 for="file" class="text-2xl text-gray-900 dark:text-white">{{'Tasks.TaskDetail.File' | translate}}:</h1>
              <div class="mb-1 w-96">
                  <input formControlName="file" class="form-control
                  block w-full pr-3 py-1.5 text-base font-normal text-gray-900 dark:text-white rounded transition
                  ease-in-out focus:bg-gray-600 focus:border-blue-600 focus:outline-none dark:dark-file-input"
                  accept=".cpp,.cxx,.cc,.py" name="file" type="file" id="file" (change)="onFileChange($event)">
              </div>
          </div>
          <div>
              <h1 for="code" class="text-2xl text-gray-900 dark:text-white">{{'Tasks.TaskDetail.Code' | translate}}:</h1>
              <app-code-editor (getCodeEvent)="getCode($event)" class="form-group" [lang]="lang"></app-code-editor>
          </div>
          <div>
              <h1 for="language" class="text-2xl text-gray-900 dark:text-white mb-2">{{'Tasks.TaskDetail.ProgrammingLanguage' | translate}}:</h1>
              <select (change)="selected($event)" formControlName="language" required id="language" name="language" class="w-96 bg-gray-50 disabled:bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:disabled:bg-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option value="C++" selected>C++</option>
                  <option value="PYTHON">Python</option>
                  <option value="C#" disabled>C#</option>
              </select>
          </div>

          <div class="m-1 text-red-600 text-sm">
              <ol class="list-disc">
                <li *ngIf="submitSolutionForm.get('code').invalid && (submitSolutionForm.get('code').dirty || submitSolutionForm.get('code').touched)">
                  {{'Tasks.TaskDetail.PleaseProvideCode' | translate}}
                </li>
                <div *ngIf="validationErrors.length > 0">
                  <li *ngFor="let error of validationErrors">
                    {{error}}
                  </li>
                </div>
              </ol>
            </div>

          <div>
            <button [disabled]="!submitSolutionForm.valid" type="submit" class="w-64 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 disabled:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-800">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <svg class="h-5 w-5 text-blue-300 group-hover:text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" fill="currentColor" aria-hidden="true">  <line x1="22" y1="2" x2="11" y2="13" />  <polygon points="22 2 15 22 11 13 2 9 22 2" /></svg>
              </span>
              {{'Tasks.TaskDetail.Submit' | translate}}
            </button>
          </div>
        </form>
    </div>
</div>

<div *ngIf="canRate" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl width-90p">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none bg-gray-200 dark:bg-gray-700">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 dark:border-slate-500 rounded-t">
        <h3 class="text-3xl font-semibold text-gray-900 dark:text-white">
          Help us improve the portal!
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleCode()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            x
          </span>
        </button>
      </div>
      <div class="p-5 border-b border-solid border-slate-200 dark:border-slate-500 rounded-t">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Congratulations, you solved it!
        </h3>
        <div>
          <p class="text-gray-900 dark:text-white">
            The taskset isn't perfect, but we always aim to make it better. To do that we need your help. Please, fill this form and rate difficulty of this task.
          </p>
          <p class="font-semibold text-gray-900 dark:text-white float-left">
            Thank you
          </p>
          <div class="text-gray-900 dark:text-white">
            <svg class="float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
            </svg>
          </div>
        </div>
      </div>
      <!--body-->
      <div class="p-4 text-center">
        <h3 class="text-3xl font-semibold text-gray-900 dark:text-white mb-2">Difficulty</h3>
        <div>
          <input class="w-48 range range-lg" type="range" min="0" max="5">
        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-between p-6 border-t border-solid border-slate-200 dark:border-slate-500 rounded-b">
        <button class="text-green-500 hover:text-white background-transparent font-bold uppercase px-6 py-2 text-sm outline hover:bg-green-500 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">
          Submit
        </button>
        <button class="text-red-500 hover:text-white background-transparent font-bold uppercase px-6 py-2 text-sm outline hover:bg-red-500 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="hideForm()">
          No thanks
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="canRate" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
