<div *ngIf="member" class="max-w-sm w-full lg:w-full lg:flex m-8">
    <div class="border border-gray-300 dark:border-gray-600 bg-gray-200 dark:bg-gray-800 rounded p-10 flex flex-col justify-between leading-normal">
      <div>
        <div class="text-gray-900 dark:text-white font-bold text-5xl mb-2">
          {{member.username}}
          <span *ngIf="member.username == currentUserUsername">
            <svg *appHasRole="['Moderator']" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 svg-icon" fill="none" viewBox="0 0 22 22" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
            </svg>
          </span>
        </div>
        <p class="text base text-gray-900 dark:text-white">Describtion: {{member.description}}</p>
        <p class="text-gray-900 dark:text-white text-base">Country: {{member.country}}</p>
        <p class="text-gray-900 dark:text-white text-base">Member since: {{member.created | timeago}}</p>
        <p class="text-gray-900 dark:text-white text-base">Last active: {{member.lastActive | timeago}}</p>
      </div>
    </div>
</div>
