<div *ngIf="member" class="max-w-sm w-full lg:w-full lg:flex m-8">
    <div class="border border-gray-300 dark:border-gray-600 bg-gray-200 dark:bg-gray-800 rounded p-10 flex flex-col justify-between leading-normal">
      <div>
        <div class="text-gray-900 dark:text-white font-bold text-5xl mb-2">
          {{member.username}}
          <svg *ngIf="member.isModerator == true" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 svg-icon" fill="none" viewBox="0 0 22 22" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
          </svg>
        </div>
        <p class="text base text-gray-900 dark:text-white">{{ "Members.MemberDetail.Description" | translate }}: {{member.description}}</p>
        <p class="text-gray-900 dark:text-white text-base">{{ "Members.MemberDetail.Country" | translate }}: {{member.country}}</p>
        <p class="text-gray-900 dark:text-white text-base">{{ "Members.MemberDetail.MemberSince" | translate }}: {{member.created | timeago}}</p>

        <div>
          <p class="text-gray-900 dark:text-white text-base">{{ "Members.MemberDetail.LastActive" | translate }}:
            <span *ngIf="!(presenceService.onlineUsers$ | async).includes(member.username) && member.username !== currentUserUsername">
              {{member.lastActive | timeago}}
            </span>
            <span *ngIf="(presenceService.onlineUsers$ | async).includes(member.username) || member.username === currentUserUsername" class="is-online">
              {{ "Members.MemberDetail.OnlineNow" | translate }}
            </span>
          </p>
        </div>

        <div class="mt-2">
          <div>
          <select *ngIf="years" (change)="getCalendarData($event.target.value)" class="float-right mr-8 text-xs w-24 h-10 bg-gray-50 disabled:bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-1 dark:disabled:bg-gray-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="Last year" selected>{{ "Members.MemberDetail.LastYear" | translate }}</option>
            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
          </select>

          <ngx-charts-heat-map
            [min]="heatmapMin"
            [max]="heatmapMax"
            [view]="[1000, 180]"
            [scheme]="colorScheme"
            [results]="calendarData"
            [animations]="true"
            [legend]="false"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisTickFormatting]="calendarAxisTickFormatting"
            [tooltipText]="calendarTooltipText"
            [innerPadding]="2"
            [trimXAxisTicks]="true"
            [trimYAxisTicks]="true"
            [rotateXAxisTicks]="true"
            [maxXAxisTickLength]="16"
            [maxYAxisTickLength]="16"
          >
          </ngx-charts-heat-map>
        </div>

          <div class="table text-gray-900 dark:text-white ml-2">
            <div class="flex flexwrap justify-center">
                <div class="p-3 w-40">
                  <p class="text-2xl">{{member.graphChart.solvedAllTime}} {{ "Members.MemberDetail.Tasks" | translate }}</p>
                  <p class="text-sm text-gray-500">{{ "Members.MemberDetail.SolvedAllTime" | translate }}</p>
                </div>
                <div class="p-3 w-40">
                  <p class="text-2xl">{{member.graphChart.solvedLastYear}} {{ "Members.MemberDetail.Tasks" | translate }}</p>
                  <p class="text-sm text-gray-500">{{ "Members.MemberDetail.SolvedLastYear" | translate }}</p>
                </div>
                <div class="p-3 w-40">
                  <p class="text-2xl">{{member.graphChart.solvedLastMonth}} {{ "Members.MemberDetail.Tasks" | translate }}</p>
                  <p class="text-sm text-gray-500">{{ "Members.MemberDetail.SolvedLastMonth" | translate }}</p>
                </div>
                <div class="p-3 w-40">
                  <p class="text-2xl">{{member.graphChart.solvedInRowAllTime}} {{ "Members.MemberDetail.Days" | translate }}</p>
                  <p class="text-sm text-gray-500">{{ "Members.MemberDetail.InRowAllTime" | translate }}</p>
                </div>
                <div class="p-3 w-40">
                  <p class="text-2xl">{{member.graphChart.solvedInRowLastYear}} {{ "Members.MemberDetail.Days" | translate }}</p>
                  <p class="text-sm text-gray-500">{{ "Members.MemberDetail.InRowLastYear" | translate }}</p>
                </div>
                <div class="p-3 w-40">
                  <p class="text-2xl">{{member.graphChart.solvedInRowLastMonth}} {{ "Members.MemberDetail.Days" | translate }}</p>
                  <p class="text-sm text-gray-500">{{ "Members.MemberDetail.InRowLastMonth" | translate }}</p>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

<div *ngIf="!member" class="flex justify-center">
  <p class="text-gray-900 dark:text-white">{{ "Members.MemberDetail.ThisMemberDoesntExists" | translate }}</p>
</div>
