.svg-icon {
  display: inline-flex;
  align-self: center;
}
.svg-icon svg {
  height:1em;
  width:1em;
}
.svg-icon.svg-baseline svg {
  top: .125em;
  position: relative;
}

::ng-deep.dark .ngx-charts {
  text { fill: #fff !important; }
}

@keyframes blink {
  0% {opacity: 1;}
  100% {opacity: 0.4;}
}

.is-online {
  animation: blink 1.5s linear infinite;
  color: #008000;
}
