<footer class="text-center bg-gray-200 dark:bg-gray-900 text-white">
    <div class="bg-gray-800 text-gray-900 dark:text-white mt-3 border-b border-gray-200 dark:border-gray-700 flex items-center justify-center"></div>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-whitehite" href="https://github.com/InfoTCube/TrainAlgs">TrainAlgs</a>
       • 
      <a class="text-whitehite" href="https://github.com/InfoTCube">Tymoteusz Marzec</a>
    </div>
</footer>