<div class="content-center flex items-center justify-center pb-4">
  <div class="full relative overflow-x-auto shadow-md rounded-lg">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-200">
        <thead class="text-xs text-gray-800 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-300 text-center">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Tag
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Memory limit
                </th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="taskPage(task.nameTag)" *ngFor="let task of tasks" class="bg-gray-100 border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer text-center">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{task.nameTag}}
                </th>
                <td class="px-6 py-4">
                    {{task.name}}
                </td>
                <td class="px-6 py-4">
                    {{task.memoryLimit}}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<div *ngIf="pagination" class="bg-white dark:bg-gray-900 px-4 py-3 flex items-center justify-between border-t border-gray-200 dark:border-gray-700 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
      <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-900 dark:text-white bg-white dark:bg-gray-700 hover:bg-gray-50"> Previous </a>
      <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-900 dark:text-white bg-white dark:bg-gray-700 hover:bg-gray-50"> Next </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-900 dark:text-white">
          Showing
          <span class="font-medium">{{(pagination.currentPage)*(pagination.itemsPerPage)}}</span>
          to
          <span class="font-medium">10</span>
          of
          <span class="font-medium">{{pagination.totalItems}}</span>
          results
        </p>
      </div>
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-400 bg-white dark:bg-gray-700 text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
          </a>
          <a href="#" aria-current="page" class="z-10 bg-white dark:bg-gray-700 border-blue-500 text-blue-500 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 1 </a>
          <a href="#" class="bg-white dark:bg-gray-700 border-gray-400 text-gray-900 dark:text-white hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 2 </a>
          <a href="#" class="bg-white dark:bg-gray-700 border-gray-400 text-gray-900 dark:text-white hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium"> 3 </a>
          <span class="relative inline-flex items-center px-4 py-2 border border-gray-400 bg-white dark:bg-gray-700 text-sm font-medium text-gray-900 dark:text-white"> ... </span>
          <a href="#" class="bg-white dark:bg-gray-700 border-gray-400 text-gray-900 dark:text-white hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium"> 8 </a>
          <a href="#" class="bg-white dark:bg-gray-700 border-gray-400 text-gray-900 dark:text-white hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 9 </a>
          <a href="#" class="bg-white dark:bg-gray-700 border-gray-400 text-gray-900 dark:text-white hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 10 </a>
          <a href="#" class="relative dark:bg-gray-700 inline-flex items-center px-2 py-2 rounded-r-md border border-gray-400 bg-white dark:bg-gray-700 text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Next</span>
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </a>
        </nav>
      </div>
    </div>
</div>