<div class="content-center flex items-center justify-center pb-4">
  <div class="full relative overflow-x-auto shadow-md rounded-lg">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-200">
        <thead class="text-xs text-gray-800 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-300 text-center">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Tag
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Author Username
                </th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="taskPage(task.nameTag)" *ngFor="let task of tasks | paginate: {id: 'tasks', itemsPerPage: pagination.itemsPerPage, currentPage: pagination.currentPage, totalItems: pagination.totalItems}" 
              class="bg-gray-100 border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer text-center">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{task.nameTag}}
                </th>
                <td class="px-6 py-4">
                    {{task.name}}
                </td>
                <td class="px-6 py-4">
                    {{task.authorUsername}}
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<pagination-controls class="text-center styled-pagination dark:styled-pagination-dark" id="tasks" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" maxSize="10"
  directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
</pagination-controls>