<div *ngIf="solutions && solutions.length > 0" class="content-center flex items-center justify-center pb-4">
    <div class="full relative overflow-x-auto shadow-md rounded-lg">
      <table class="w-full text-sm text-left text-gray-700 dark:text-gray-200">
          <thead class="text-xs text-gray-800 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-300 text-center">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Date
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Task
                  </th>
                  <th scope="col" class="px-4 py-3">
                      Language
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Status
                  </th>
                  <th scope="col" class="px-4 py-3">
                      Points
                  </th>
              </tr>
          </thead>
          <tbody *ngIf="pagination">
              <tr (click)="solutionPage(solution.id)" *ngFor="let solution of solutions | paginate: {id: 'solutions', itemsPerPage: pagination.itemsPerPage, currentPage: pagination.currentPage, totalItems: pagination.totalItems}"
                class="text-center bg-gray-100 border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap" [ngClass]="{'good': solution.points == 100, 'wrong': solution.points == 0, 'ok': solution.points > 0 && solution.points < 100}">
                      {{solution.date | date:'EE, d MMMM y HH:mm:ss':'GMT'}} GMT
                  </th>
                  <td class="px-6 py-4">
                      {{solution.algTaskName}} ({{solution.algTaskTag}})
                  </td>
                  <td class="px-6 py-4">
                      <span class="badge lang p-2 rounded-lg">
                        {{solution.language}}
                      </span>
                  </td>
                  <td class="px-6 py-4">
                      <span class="text-white badge rounded-lg p-2" [ngClass]="{'goodPoints': solution.points == 100, 'wrongPoints': solution.points == 0, 'okPoints': solution.points > 0 && solution.points < 100}">
                        {{solution.status}}
                      </span>
                  </td>
                  <td class="px-6 py-4">
                      <span class="text-white badge rounded-lg p-2" [ngClass]="{'goodPoints': solution.points == 100, 'wrongPoints': solution.points == 0, 'okPoints': solution.points > 0 && solution.points < 100}">
                        {{solution.points}}
                      </span>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
</div>

<div *ngIf="solutions && solutions.length == 0" class="text-center text-gray-900 dark:text-white">
  There are no solutions to display...
</div>

<pagination-controls class="text-center styled-pagination dark:styled-pagination" id="solutions" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" maxSize="10"
  directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
</pagination-controls>
