<div class="content-center flex items-center justify-center pb-4">
  <div class="full relative overflow-x-auto shadow-md rounded-lg">
    <table class="w-full text-sm text-left text-gray-700 dark:text-gray-200">
        <thead class="text-xs text-gray-800 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-300 text-center">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Tag
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Author Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Verify
              </th>
            </tr>
        </thead>
        <tbody *ngIf="pagination">
            <tr (click)="taskPage(task.nameTag)" *ngFor="let task of tasks | paginate: {id: 'tasks', itemsPerPage: pagination.itemsPerPage, currentPage: pagination.currentPage, totalItems: pagination.totalItems}"
              class="bg-gray-100 border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer text-center">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{task.nameTag}}
                </th>
                <td class="px-6 py-4">
                    {{task.name}}
                </td>
                <td class="px-6 py-4">
                    {{task.authorUsername}}
                </td>
                <td class="px-6 py-4">
                  <a class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" (click)="toggleConfirm($event, task.nameTag)">Verify</a>
              </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<pagination-controls class="text-center styled-pagination dark:styled-pagination-dark" id="tasks" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" maxSize="10"
  directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
</pagination-controls>

<div *ngIf="confirm" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl width-90p">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none bg-gray-200 dark:bg-gray-700">
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 dark:border-slate-500 rounded-t">
        <h3 class="text-3xl font-semibold text-gray-900 dark:text-white">
          Code
        </h3>
      </div>
      <div class="relative p-6 flex-auto">
        <p class="text-gray-900 dark:text-white">Are you sure, you want to verify a task?</p>
      </div>
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 dark:border-slate-500 rounded-b">
        <button (click)="verifyTask($event)" class="text-green-500 hover:text-white background-transparent font-bold uppercase px-6 py-2 mr-6 text-sm outline hover:bg-green-500 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
          Verify
        </button>
        <button (click)="toggleConfirm($event)" class="text-red-500 hover:text-white background-transparent font-bold uppercase px-6 py-2 text-sm outline hover:bg-red-500 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="confirm" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
