<nav class="bg-gray-800 shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <a href="#" class="flex items-center py-4 px-2">
                    <img src="https://jf-staeulalia.pt/img/other/44/collection-simple-train-cliparts-11.png" alt="Logo" class="h-8 w-8 mr-2" />
                    <span class="font-semibold text-white text-lg">
                        TrainAlgs
                    </span>
                </a>
                <div class="hidden md:flex items-center space-x-1">
                    <a href="/" class="py-4 px-4 text-white border-b-4 border-blue-500 font-semibold">
                        Home
                    </a>
                    <a href="/" class="py-4 px-4 text-white border-b-4 font-semibold hover:text-blue-500 transition duration-300">
                        Tasks
                    </a>
                    <a href="/" class="py-4 px-4 text-white border-b-4 font-semibold hover:text-blue-500 transition duration-300">
                        Solutions
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>