<div class="w-full">
    <div>
        <div class="grid place-items-center">
            <h1 class="text-2xl text-gray-900 dark:text-white">{{'Admin.Users.SearchForUsers' | translate}}</h1>
            <input type="text" #usersSearchInput class="appearance-none block w-64 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-blue-500 focus:border-blue-700 focus:z-10 sm:text-sm" placeholder="{{'Admin.Users.TypeUsername' | translate}}..." />
        </div>
    </div>
    <div class="row mt-5">
        <div *ngIf="users">
            <div class="col-3 flex justify-center" *ngFor="let user of users">
                <div class="max-w-sm rounded overflow-hidden shadow-lg dark:shadow-gray-600 bg-gray-200 dark:bg-gray-800">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2 text-gray-900 dark:text-white">{{user.username}}</div>
                      <p class="text-gray-900 dark:text-white text-base">{{'Admin.Users.Country' | translate}}: {{user.country}}</p>
                      <p class="text-gray-900 dark:text-white text-base">{{'Admin.Users.MemberSince' | translate}}: {{user.created | timeago}}</p>
              
                      <div>
                        <p class="text-gray-900 dark:text-white text-base">{{'Admin.Users.LastActive' | translate}}:
                          <span *ngIf="!(presenceService.onlineUsers$ | async).includes(user.username) && user.username !== currentUserUsername">
                            {{user.lastActive | timeago}}
                          </span>
                          <span *ngIf="(presenceService.onlineUsers$ | async).includes(user.username) || user.username === currentUserUsername" class="is-online">
                            {{'Admin.Users.OnlineNow' | translate}}
                          </span>
                        </p>
                      </div>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                      <span *ngIf="user.isAdmin" class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2 bg-amber-400">#Admin</span>
                      <span *ngIf="user.isModerator" class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2 bg-purple-600">#Moderator</span>
                    </div>

                    <button *ngIf="!user.isModerator && !user.isAdmin" (click)="toggleModeratorConfirm($event, user.username)" class="group relative w-full flex justify-center py-2 px-4 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 disabled:bg-blue-900">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>                              
                        </span>
                        {{'Admin.Users.GrantModerator' | translate}}
                    </button>
                    <button *ngIf="!user.isAdmin" (click)="toggleDeleteConfirm($event, user.username)" class="group relative w-full flex justify-center py-2 px-4 text-sm font-medium rounded-b-md text-white bg-red-600 hover:bg-red-700 disabled:bg-red-900">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>                                                    
                        </span>
                        {{'Admin.Users.DeleteUser' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="users && users.length == 0 && searchText && searchText.length >= 3">
            <p class="text-center text-gray-900 dark:text-white">{{'Admin.Users.NoUsersFound' | translate}}</p>
        </div>
    </div>

    <pagination-controls class="text-center styled-pagination dark:styled-pagination-dark" id="users" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" maxSize="10"
        directionLinks="true" autoHide="true" responsive="true" previousLabel="{{'Pagination.Previous' | translate}}" nextLabel="{{'Pagination.Next' | translate}}" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>

<div *ngIf="moderatorConfirm" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl width-90p">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none bg-gray-200 dark:bg-gray-700">
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 dark:border-slate-500 rounded-t">
        <h3 class="text-3xl font-semibold text-gray-900 dark:text-white">
            {{'Admin.Users.Confirmation' | translate}}
        </h3>
        </div>
        <div class="relative p-6 flex-auto">
        <p class="text-gray-900 dark:text-white">{{'Admin.Users.AreYouSureModerator' | translate}}
        </div>
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 dark:border-slate-500 rounded-b">
        <button (click)="grantModerator($event)" class="mr-2 text-green-500 hover:text-white background-transparent font-bold uppercase px-6 py-2 mr-6 text-sm outline hover:bg-green-500 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
            {{'Admin.Users.Grant' | translate}}
        </button>
        <button (click)="toggleModeratorConfirm($event)" class="ml-2 text-red-500 hover:text-white background-transparent font-bold uppercase px-6 py-2 text-sm outline hover:bg-red-500 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
            {{'Admin.Users.Close' | translate}}
        </button>
        </div>
    </div>
    </div>
</div>

<div *ngIf="deleteConfirm" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl width-90p">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none bg-gray-200 dark:bg-gray-700">
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 dark:border-slate-500 rounded-t">
        <h3 class="text-3xl font-semibold text-gray-900 dark:text-white">
            {{'Admin.Users.Confirmation' | translate}}
        </h3>
        </div>
        <div class="relative p-6 flex-auto">
        <p class="text-gray-900 dark:text-white">{{'Admin.Users.AreYouSureDelete' | translate}}
        </div>
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 dark:border-slate-500 rounded-b">
        <button (click)="deleteUser($event)" class="mr-2 text-red-600 hover:text-white background-transparent font-bold uppercase px-6 py-2 mr-6 text-sm outline hover:bg-red-600 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
            {{'Admin.Users.Delete' | translate}}
        </button>
        <button (click)="toggleDeleteConfirm($event)" class="ml-2 text-red-200 hover:text-white background-transparent font-bold uppercase px-6 py-2 text-sm outline hover:bg-red-200 rounded-md focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
            {{'Admin.Users.Close' | translate}}
        </button>
        </div>
    </div>
    </div>
</div>

<div *ngIf="moderatorConfirm || deleteConfirm" class="opacity-25 fixed inset-0 z-40 bg-black"></div>